<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default=""/>
  <arg name="arm_namespace" default=""/>
  <arg name="sim_suffix" default=""/>
  <arg name="VIO_enabled" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find robowork_moveit_config)/config/$(arg robot_namespace)_$(arg arm_namespace).srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find robowork_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find robowork_moveit_config)/config/padding.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find robowork_moveit_config)/config/kinematics$(arg sim_suffix).yaml"/>
  </group>

</launch>
